
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}


::-webkit-scrollbar {
  width: 0;
}
html {
  scrollbar-width: none;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  z-index: 10;
}

.logo {
  font-size: 100px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 50px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 60px;
}


.main {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 180px;
  padding-bottom: 140px;

  text-align: center;
  color: white;
}


.sri {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(30px);
  z-index: -1;
}


.main h1 {
  font-size: 100px;
  margin-bottom: 10px;
}

.main p {
  font-size: 70px;
  
}


.search {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}

.search select,
.search input,
.search button {
  padding: 12px 16px;
  font-size: 50px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
}
.search select{
    width: 700px;
}
.search input {
  width: 700px;
}

.search button {
  background: #0c9310;
  color: white;
  cursor: pointer;
}


.card-category {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  justify-content: center;
}


.card {
  width: 720px;
  background:slategrey;
  color: #fbfbfb;
  border-radius: 18px;
  padding: 28px;
  text-align: center;

  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 14px;
}

.card h3 {
  margin-top: 16px;
  font-size: 70px;
  font-weight: bolder;
}

.card p {
  font-size: 50px;
  font-weight: bold;
}



.emergency {
  margin-top: 150px;
  padding: 40px 80px;

  background: transparent;
  backdrop-filter: blur(6px);
}

.emergency h2 {
  display: inline-block;
  color: white;
  font-size: 100px;
  margin-bottom: 30px;
}


.emergency h2::after {
  content: "";
  display: block;
  height: 3px;
  background: #ff6b5a;
  margin-top: 8px;
}


.alert-row {
  display: flex;
  gap: 40px;
}


.alert {
  width: 32vh;
  background: transparent;
  /* background-color: gray; */
  padding: 82px;
  border-radius: 14px;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 0 12px 30px rgba(124, 14, 14, 0.25);
  font-size: 70px;
}

.op{
    font-weight: bolder;
    color: #c0392b;
}
.login-btn {
  padding: 12px 22px;
  font-size: 18px;
 background: #c0392b;        
  color: #333;

  border-radius: 6px;       
  border: none;

  text-decoration: none;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background 0.2s ease, transform 0.2s ease;
}

.reg-btn {
  padding: 12px 22px;
  font-size: 18px;
 background: #c0392b;        
  color: #333;

  border-radius: 6px;       
  border: none;

  text-decoration: none;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background 0.2s ease, transform 0.2s ease;
}













.login-page {
  padding-top: 260px;
}

.login-box {
  margin-top: 80px;
  width: 900px;
  padding: 90px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  border-radius: 30px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.login-box input {
  width: 100%;
  padding: 30px 36px;
  font-size: 45px;
  border-radius: 18px;
  border: none;
  outline: none;
}

.login-submit {
  width: 100%;
  padding: 32px;
  font-size: 45px;
  border-radius: 18px;
  border: none;
  background: #0c9310;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-text {
  font-size: 42px;
  color: white;
  text-align: center;
}

.login-text a {
  color: #ff6b5a;
  text-decoration: none;
  font-weight: bold;
}